---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PageHero from '../components/PageHero.astro';

import "../styles/global.css";
import "../styles/layout.css";

// src/layouts/BaseLayout.astro
export interface Props {
  title: string;
  description?: string;
  canonicalURL?: string;
  heroImage?: string;
  heroAlt?: string;
  heroTaglineElement?: any;
  article?: boolean;
  publishedDate?: Date;
  updatedDate?: Date;
  author?: string;
  tags?: string[];
}

const { 
	title,
	description = "Proving it's never too late to refactor your comfort zone",
	canonicalURL,
	heroImage, 
	heroAlt = "An elderly man with a long white beard and flowing hair, wearing bright, retro-futuristic clothes including an orange and pink jacket, neon sunglasses, and large headphones",
	article = false,
	publishedDate,
	updatedDate,
	author,
	tags = []
} = Astro.props;
---

<!DOCTYPE html>
<html data-theme="mocha" lang="en">
	<head>
		<BaseHead 
			title={title} 
			description={description} 
			canonicalURL={canonicalURL}
			article={article}
			publishedDate={publishedDate}
			updatedDate={updatedDate}
			author={author}
			tags={tags}
		/>
	</head>
  <body>
		<Header />
		{heroImage && 
		<PageHero heroImage={heroImage} heroAlt={heroAlt} />
		}
    <main class="flex-1 justify-center">
      <slot />
    </main>

    <footer class="footer">
      <div class="footer-content">
        <div class="text-center">
					<img src='/images/old-dog-new-flex-logo.svg' alt="Old Dog, New Flex Logo" class="footer-logo"/>
          <p class="footer-tagline">Proving it's never too late to refactor your comfort zone</p>
          <p class="footer-copyright">© 2024 Old Dog, New Flex. Built with Astro and TypeScript.</p>
        </div>
      </div>
    </footer>
		<img src='/images/old-dog-new-flex-logo.svg' alt="Old Dog, New Flex Logo" class="logo-absolute"/>
		
		<!-- Alpine.js -->
		<script>
			import Alpine from 'alpinejs';
			window.Alpine = Alpine;
			Alpine.start();
		</script>
		</body>
</html>

