---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type Props = CollectionEntry<'learn'|'share'|'journey'>['data'];

const { title, summary, publishedDate, updatedDate, heroImage } = Astro.props;
---

		<style>
			main {
				width: calc(100%);
				max-width: 100%;
				margin: auto;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: var(--catppuccin-text);
			}
		</style>

<BaseLayout title={title} description={summary}>
	<article>
		<div class="prose">
			<div class="text-(--catppuccin-flamingo) text-center">
				<FormattedDate date={publishedDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			{!heroImage && 
			<div class="m-0 margin-bottom-1 text-center">
				<h1>{title}</h1>
			</div>
			}
			<div class="hero-image relative">
				{heroImage && <img src={heroImage} alt={title} />}
			</div>
			<hr />
		</div>
		<slot />
	</article>
</BaseLayout>

