---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type Props = CollectionEntry<'learn'|'share'|'journey'>['data'] & {
	post: CollectionEntry<'learn'|'share'|'journey'>;
};

const { title, summary, publishedDate, updatedDate, heroImage, tags = [], post } = Astro.props;
const author = 'Old Dog New Flex';
---

<BaseLayout 
	title={title} 
	description={summary}
	article={true}
	publishedDate={publishedDate}
	updatedDate={updatedDate}
	author={author}
	tags={tags}
	heroImage={heroImage}
	heroAlt={title}
>
	<article>
		<div class="prose">
			<div class="text-(--color-flamingo) text-center">
				<FormattedDate date={publishedDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			{!heroImage && 
			<div class="m-0 margin-bottom-1 text-center">
				<h1>{title}</h1>
			</div>
			}
			<div class="hero-image relative">
				{heroImage && (
					<img 
						src={heroImage} 
						alt={title} 
						loading="lazy"
						width="1200"
						height="630"
					/>
				)}
			</div>
			<hr />
		</div>
		<slot />
	</article>
</BaseLayout>

